doctype html
html(lang="en")
  head
    title Dashmonit - Real-time dashboards
    link(href='assets/css/main.css', media='all', rel='stylesheet')
  body
    include _header
    block content
    include _footer
