extend _layout

block content
  section.intro
    h1 Real-time dashboards
    h3 Open source real-time dashboard app
    .browser

  section.open-source
    ul
      li
        iframe.github-btn(src='https://ghbtns.com/github-btn.html?user=lukaszbieniek&repo=dashmonit&type=watch&count=true', width='90', height='20', title='Star on GitHub')
      li
        iframe.github-btn(src='https://ghbtns.com/github-btn.html?user=lukaszbieniek&repo=dashmonit&type=fork&count=true', width='90', height='20', title='Fork on GitHub')
